n8n_newsletter_template.txt
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            },
            {}
          ]
        }
      },
      "id": "c1af0cbe-8b79-4b69-a7dd-8e7cdaf356b0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TRAVEL_EXPLORE_WEBHOOK_URL || 'http://localhost:5678/webhook/travel-explore'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "departure_id",
              "value": "ZRH"
            },
            {
              "name": "currency",
              "value": "CHF"
            },
            {
              "name": "max_price",
              "value": "500"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "time_period",
              "value": "one_week_trip_in_the_next_six_months"
            },
            {
              "name": "interests",
              "value": "popular"
            },
            {
              "name": "travel_class",
              "value": "economy"
            },
            {
              "name": "stops",
              "value": "any"
            },
            {
              "name": "adults",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "af5a3425-a22f-4982-86d5-5193dc569b9b",
      "name": "Fetch Flight Deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process flight deals data from travel-explore webhook\nconst data = $json;\nconst results = data.results || [];\nconst cheapest = data.cheapest || null;\nconst title = data.title || 'Flight Deals';\nconst filters = data.filters || {};\n\n// Helper function to format dates\nfunction formatDate(dateString) {\n  if (!dateString) return 'N/A';\n  const date = new Date(dateString);\n  return date.toLocaleDateString('en-US', {\n    weekday: 'short',\n    year: 'numeric',\n    month: 'short',\n    day: 'numeric'\n  });\n}\n\n// Parse price from display format (e.g., \"CHF 299\" -> 299)\nfunction parsePrice(priceDisplay) {\n  if (!priceDisplay) return 0;\n  const match = priceDisplay.match(/[\\\\d.]+/);\n  return match ? parseFloat(match[0]) : 0;\n}\n\n// Create HTML email with table-based layout for email client compatibility\nlet htmlTable = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; margin: 0; padding: 0; background-color: #f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 700px; margin: 0 auto; background-color: #ffffff;\">\n    <!-- Header -->\n    <tr>\n      <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center;\">\n        <h1 style=\"margin: 0; font-size: 24px;\">✈️ ${title}</h1>\n        <p style=\"margin: 12px 0 0 0; opacity: 0.9;\">${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n        <p style=\"margin: 8px 0 0 0; font-size: 14px; opacity: 0.85;\">Max Price: ${filters.max_price || 'N/A'} | Class: ${filters.travel_class || 'Any'} | Stops: ${filters.stops || 'Any'}</p>\n      </td>\n    </tr>\n`;\n\n// Best Deal Banner\nif (cheapest) {\n  htmlTable += `\n    <tr>\n      <td style=\"background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color: white; padding: 30px; text-align: center;\">\n        <p style=\"margin: 0 0 5px 0; font-size: 18px; font-weight: 600;\">🏆 Best Deal</p>\n        <p style=\"margin: 10px 0; font-size: 36px; font-weight: bold;\">${cheapest.price} to ${cheapest.destination}</p>\n        ${cheapest.savings_vs_average ? `<p style=\"margin: 0; font-size: 14px; opacity: 0.9;\">${cheapest.savings_vs_average}</p>` : ''}\n        <a href=\"${cheapest.flight_link || '#'}\" style=\"display: inline-block; margin-top: 20px; background: white; color: #11998e; padding: 12px 30px; border-radius: 25px; text-decoration: none; font-weight: bold; font-size: 16px;\">Book Now →</a>\n      </td>\n    </tr>\n`;\n}\n\nhtmlTable += `\n    <!-- Flight Cards -->\n    <tr>\n      <td style=\"padding: 25px;\">\n`;\n\n// Flight cards using tables for email compatibility\nresults.forEach((result, index) => {\n  const price = parsePrice(result.price);\n  const priceColor = price < 200 ? '#11998e' : price < 400 ? '#f39c12' : '#e74c3c';\n  \n  // Parse route to get destination name\n  const routeParts = result.route ? result.route.split(' -> ') : ['', ''];\n  const destination = routeParts[1] || result.route;\n  \n  htmlTable += `\n        <!-- Flight Card ${result.rank || index + 1} -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #e0e0e0; border-radius: 12px; margin-bottom: 20px; overflow: hidden;\">\n          <!-- Card Header -->\n          <tr>\n            <td style=\"background: #f8f9fa; padding: 18px; border-bottom: 1px solid #e0e0e0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td width=\"40\" valign=\"middle\">\n                    <div style=\"background: #667eea; color: white; width: 32px; height: 32px; border-radius: 50%; text-align: center; line-height: 32px; font-weight: bold; font-size: 14px;\">${result.rank || index + 1}</div>\n                  </td>\n                  <td valign=\"middle\" style=\"padding-left: 12px;\">\n                    <span style=\"font-weight: bold; font-size: 17px; color: #333;\">${result.route || 'N/A'}</span>\n                  </td>\n                  <td align=\"right\" valign=\"middle\">\n                    <span style=\"font-size: 22px; font-weight: bold; color: ${priceColor};\">${result.price || 'N/A'}</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n          <!-- Card Body -->\n          <tr>\n            <td style=\"padding: 20px;\">\n              <!-- Flight Details -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 18px;\">\n                <tr>\n                  <td style=\"padding: 8px 0; border-bottom: 1px solid #f0f0f0;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                      <tr>\n                        <td width=\"30\" style=\"color: #667eea;\">✈️</td>\n                        <td style=\"font-size: 14px; color: #555;\"><strong style=\"color: #333;\">Flight:</strong> ${result.details || 'N/A'}</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 8px 0; border-bottom: 1px solid #f0f0f0;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                      <tr>\n                        <td width=\"30\" style=\"color: #667eea;\">📅</td>\n                        <td style=\"font-size: 14px; color: #555;\"><strong style=\"color: #333;\">Dates:</strong> ${result.dates || 'N/A'}</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 8px 0;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                      <tr>\n                        <td width=\"30\" style=\"color: #667eea;\">🏨</td>\n                        <td style=\"font-size: 14px; color: #555;\"><strong style=\"color: #333;\">Hotel:</strong> ${result.hotel || 'N/A'}</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n              <!-- Action Buttons -->\n              <table cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td style=\"padding-right: 10px;\">\n                    <a href=\"${result.flight_link || '#'}\" style=\"display: inline-block; background: #667eea; color: white; padding: 10px 20px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 600;\">View Flight</a>\n                  </td>\n                  ${result.airline_link ? `<td><a href=\"${result.airline_link}\" style=\"display: inline-block; background: #f0f0f0; color: #333; padding: 10px 20px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 500;\">Airline Direct</a></td>` : ''}\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n`;\n});\n\nhtmlTable += `\n      </td>\n    </tr>\n    <!-- Tips Section -->\n    <tr>\n      <td style=\"padding: 0 25px 25px 25px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: #f8f9fa; border-radius: 8px;\">\n          <tr>\n            <td style=\"padding: 20px; text-align: center;\">\n              <p style=\"margin: 0 0 8px 0; color: #555; font-size: 14px;\">💡 <strong>Tip:</strong> Prices may change quickly. Book soon if you find a great deal!</p>\n              <p style=\"margin: 0; color: #888; font-size: 12px;\">Found ${results.length} deals • Updated ${new Date().toLocaleString()}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n    <!-- Footer -->\n    <tr>\n      <td style=\"background: #333; color: #999; padding: 25px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0 0 8px 0;\">This email was generated automatically by your flight deal tracker.</p>\n        <p style=\"margin: 0;\">Prices are subject to change. <a href=\"https://www.google.com/travel/flights\" style=\"color: #667eea; text-decoration: none;\">Search more flights</a></p>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\n// Create summary for subject line\nconst subject = cheapest \n  ? `✈️ Flight Deals Alert: ${cheapest.destination} from ${cheapest.price} | ${results.length} deals available`\n  : `✈️ Flight Deals Alert: ${results.length} deals available`;\n\nreturn {\n  htmlContent: htmlTable,\n  subject: subject,\n  totalDeals: results.length,\n  cheapestPrice: cheapest ? cheapest.price : null,\n  cheapestDestination: cheapest ? cheapest.destination : null\n};\n"
      },
      "id": "b2c8e1d0-5f4a-4b3c-8e9d-1a2b3c4d5e6f",
      "name": "Format Flight Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "flights@example.com",
        "toEmail": "={{$env.NEWSLETTER_RECIPIENT || 'user@example.com'}}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d8e9f0a1-b2c3-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Flight Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Flight Deals": {
      "main": [
        [
          {
            "node": "Format Flight Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Flight Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-09T00:00:00.000Z",
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
