n8n_newsletter_template.txt
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            },
            {}
          ]
        }
      },
      "id": "c1af0cbe-8b79-4b69-a7dd-8e7cdaf356b0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TRAVEL_EXPLORE_WEBHOOK_URL || 'http://localhost:5678/webhook/travel-explore'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "departure_id",
              "value": "ZRH"
            },
            {
              "name": "currency",
              "value": "CHF"
            },
            {
              "name": "max_price",
              "value": "500"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "time_period",
              "value": "one_week_trip_in_the_next_six_months"
            },
            {
              "name": "interests",
              "value": "popular"
            },
            {
              "name": "travel_class",
              "value": "economy"
            },
            {
              "name": "stops",
              "value": "any"
            },
            {
              "name": "adults",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "af5a3425-a22f-4982-86d5-5193dc569b9b",
      "name": "Fetch Flight Deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process flight deals data from travel-explore webhook\nconst data = $json;\nconst results = data.results || [];\nconst cheapest = data.cheapest || null;\nconst title = data.title || 'Flight Deals';\nconst filters = data.filters || {};\n\n// Helper function to format dates\nfunction formatDate(dateString) {\n  if (!dateString) return 'N/A';\n  const date = new Date(dateString);\n  return date.toLocaleDateString('en-US', {\n    weekday: 'short',\n    year: 'numeric',\n    month: 'short',\n    day: 'numeric'\n  });\n}\n\n// Parse price from display format (e.g., \"CHF 299\" -> 299)\nfunction parsePrice(priceDisplay) {\n  if (!priceDisplay) return 0;\n  const match = priceDisplay.match(/[\\\\d.]+/);\n  return match ? parseFloat(match[0]) : 0;\n}\n\n// Create HTML table\nlet htmlTable = `\n<div style=\"font-family: Arial, sans-serif; max-width: 900px; margin: 0 auto;\">\n  <h2 style=\"color: #2c3e50; text-align: center; margin-bottom: 20px;\">✈️ ${title}</h2>\n  <p style=\"text-align: center; color: #7f8c8d; margin-bottom: 10px;\">${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n  <p style=\"text-align: center; color: #95a5a6; margin-bottom: 30px; font-size: 14px;\">Max Price: ${filters.max_price || 'N/A'} | Class: ${filters.travel_class || 'N/A'} | Stops: ${filters.stops || 'N/A'}</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n    <thead>\n      <tr style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white;\">\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">#</th>\n        <th style=\"padding: 12px; text-align: left; font-weight: 600;\">Route</th>\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">Details</th>\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">Dates</th>\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">Hotel</th>\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">Price</th>\n        <th style=\"padding: 12px; text-align: center; font-weight: 600;\">Action</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\n// Add rows for each deal\nresults.forEach((result, index) => {\n  const price = parsePrice(result.price);\n  const rowColor = index % 2 === 0 ? '#f8f9fa' : 'white';\n  const priceColor = price < 200 ? '#27ae60' : price < 400 ? '#f39c12' : '#e74c3c';\n  \n  // Parse route to get destination name\n  const routeParts = result.route ? result.route.split(' -> ') : ['', ''];\n  const destination = routeParts[1] || result.route;\n  \n  htmlTable += `\n    <tr style=\"background-color: ${rowColor}; border-bottom: 1px solid #ecf0f1;\">\n      <td style=\"padding: 12px; text-align: center; font-weight: 600; color: #667eea;\">\n        ${result.rank || index + 1}\n      </td>\n      <td style=\"padding: 12px; font-weight: 500;\">\n        <div style=\"display: flex; align-items: center;\">\n          <span style=\"font-size: 18px; margin-right: 8px;\">🏖️</span>\n          <div>\n            <div style=\"font-weight: 600; color: #2c3e50;\">${destination}</div>\n            <div style=\"font-size: 12px; color: #7f8c8d;\">${result.route || 'N/A'}</div>\n          </div>\n        </div>\n      </td>\n      <td style=\"padding: 12px; text-align: center; color: #34495e;\">\n        <div style=\"font-size: 13px;\">${result.details || 'N/A'}</div>\n      </td>\n      <td style=\"padding: 12px; text-align: center; color: #34495e;\">\n        <div style=\"font-weight: 500; font-size: 13px;\">${result.dates || 'N/A'}</div>\n      </td>\n      <td style=\"padding: 12px; text-align: center; color: #34495e;\">\n        <div style=\"font-size: 13px;\">${result.hotel || 'N/A'}</div>\n      </td>\n      <td style=\"padding: 12px; text-align: center;\">\n        <span style=\"font-size: 18px; font-weight: 700; color: ${priceColor};\">${result.price || 'N/A'}</span>\n      </td>\n      <td style=\"padding: 12px; text-align: center;\">\n        <a href=\"${result.flight_link || '#'}\" style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 8px 16px; text-decoration: none; border-radius: 20px; font-size: 12px; font-weight: 600; display: inline-block;\">Book Flight</a>\n        ${result.airline_link ? `<br><a href=\"${result.airline_link}\" style=\"color: #667eea; font-size: 11px; text-decoration: none; margin-top: 4px; display: inline-block;\">View Airline →</a>` : ''}\n      </td>\n    </tr>\n  `;\n});\n\nhtmlTable += `\n    </tbody>\n  </table>\n  \n  ${cheapest ? `\n  <div style=\"margin-top: 20px; padding: 20px; background: linear-gradient(135deg, #27ae60 0%, #2ecc71 100%); border-radius: 8px; color: white; text-align: center;\">\n    <h3 style=\"margin: 0 0 10px 0;\">🎉 Best Deal: ${cheapest.destination}</h3>\n    <p style=\"margin: 0; font-size: 24px; font-weight: 700;\">${cheapest.price}</p>\n    ${cheapest.savings_vs_average ? `<p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">${cheapest.savings_vs_average}</p>` : ''}\n    <a href=\"${cheapest.flight_link || '#'}\" style=\"display: inline-block; margin-top: 15px; background: white; color: #27ae60; padding: 10px 25px; text-decoration: none; border-radius: 25px; font-weight: 600;\">Book Now!</a>\n  </div>\n  ` : ''}\n  \n  <div style=\"margin-top: 20px; padding: 15px; background: #ecf0f1; border-radius: 8px; text-align: center;\">\n    <p style=\"margin: 0; color: #7f8c8d; font-size: 14px;\">\n      💡 <strong>Tip:</strong> Prices may change quickly. Book soon if you find a great deal!\n    </p>\n    <p style=\"margin: 5px 0 0 0; color: #7f8c8d; font-size: 12px;\">\n      Found ${results.length} deals • Updated ${new Date().toLocaleString()}\n    </p>\n  </div>\n</div>\n`;\n\n// Create summary for subject line\nconst subject = cheapest \n  ? `✈️ Flight Deals Alert: ${cheapest.destination} from ${cheapest.price} | ${results.length} deals available`\n  : `✈️ Flight Deals Alert: ${results.length} deals available`;\n\nreturn {\n  htmlContent: htmlTable,\n  subject: subject,\n  totalDeals: results.length,\n  cheapestPrice: cheapest ? cheapest.price : null,\n  cheapestDestination: cheapest ? cheapest.destination : null\n};\n"
      },
      "id": "b2c8e1d0-5f4a-4b3c-8e9d-1a2b3c4d5e6f",
      "name": "Format Flight Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "flights@example.com",
        "toEmail": "={{$env.NEWSLETTER_RECIPIENT || 'user@example.com'}}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d8e9f0a1-b2c3-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Flight Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Flight Deals": {
      "main": [
        [
          {
            "node": "Format Flight Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Flight Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-09T00:00:00.000Z",
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
