travel_explore_webhook_workflow.json
{
  "name": "Travel Explore - SearchAPI (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "travel-explore",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "travel-explore-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departure_id",
              "value": "={{ $json.body.departure_id || 'ZRH' }}"
            },
            {
              "name": "time_period",
              "value": "={{ $json.body.time_period || 'one_week_trip_in_the_next_six_months' }}"
            },
            {
              "name": "interests",
              "value": "={{ $json.body.interests || 'popular' }}"
            },
            {
              "name": "currency",
              "value": "={{ $json.body.currency || 'USD' }}"
            },
            {
              "name": "gl",
              "value": "={{ $json.body.gl || 'US' }}"
            },
            {
              "name": "hl",
              "value": "={{ $json.body.hl || 'en-US' }}"
            },
            {
              "name": "travel_class",
              "value": "={{ $json.body.travel_class || 'economy' }}"
            },
            {
              "name": "stops",
              "value": "={{ $json.body.stops || 'any' }}"
            },
            {
              "name": "arrival_id",
              "value": "={{ $json.body.arrival_id || '' }}"
            }
          ],
          "number": [
            {
              "name": "adults",
              "value": "={{ $json.body.adults || 1 }}"
            },
            {
              "name": "max_price",
              "value": "={{ $json.body.max_price || 500 }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.body.limit || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-defaults",
      "name": "Set Default Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.searchapi.io/api/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_travel_explore"
            },
            {
              "name": "departure_id",
              "value": "={{ $json.departure_id }}"
            },
            {
              "name": "adults",
              "value": "={{ $json.adults }}"
            },
            {
              "name": "time_period",
              "value": "={{ $json.time_period }}"
            },
            {
              "name": "interests",
              "value": "={{ $json.interests }}"
            },
            {
              "name": "currency",
              "value": "={{ $json.currency }}"
            },
            {
              "name": "gl",
              "value": "={{ $json.gl }}"
            },
            {
              "name": "hl",
              "value": "={{ $json.hl }}"
            },
            {
              "name": "travel_class",
              "value": "={{ $json.travel_class }}"
            },
            {
              "name": "stops",
              "value": "={{ $json.stops }}"
            },
            {
              "name": "arrival_id",
              "value": "={{ $json.arrival_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "SearchAPI Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "searchapi-auth",
          "name": "SearchAPI Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract destinations from the API response\nconst destinations = items[0].json.destinations || [];\n\n// Filter out destinations without flight data\nconst validDestinations = destinations.filter(dest => dest.flight && dest.flight.price);\n\n// Return as individual items for further processing\nreturn validDestinations.map(dest => ({ json: dest }));"
      },
      "id": "extract-destinations",
      "name": "Extract Destinations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "flight.price",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort-by-price",
      "name": "Sort by Price",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "price-filter",
              "leftValue": "={{ $json.flight.price }}",
              "rightValue": "={{ $('Set Default Parameters').item.json.max_price }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-by-max-price",
      "name": "Filter by Max Price",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "maxItems": "={{ $('Set Default Parameters').item.json.limit || 10 }}"
      },
      "id": "limit-results",
      "name": "Limit Results",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get the currency from the parameters\nconst params = $('Set Default Parameters').first().json;\nconst currency = params.currency || 'USD';\nconst departureId = params.departure_id || 'ZRH';\nconst adults = params.adults || 1;\n\n// Helper to build Google Flights URL\nfunction buildFlightLink(origin, destAirport, outboundDate, returnDate, numAdults) {\n  const baseUrl = 'https://www.google.com/travel/flights';\n  const query = `flights from ${origin} to ${destAirport} on ${outboundDate} returning ${returnDate}`;\n  return `${baseUrl}?q=${encodeURIComponent(query)}&curr=${currency}&px=${numAdults}`;\n}\n\n// Helper to build Google Flights URL filtered by airline\nfunction buildAirlineLink(origin, destAirport, outboundDate, returnDate, airlineName, numAdults) {\n  const baseUrl = 'https://www.google.com/travel/flights';\n  const query = `flights from ${origin} to ${destAirport} on ${outboundDate} returning ${returnDate} on ${airlineName}`;\n  return `${baseUrl}?q=${encodeURIComponent(query)}&curr=${currency}&px=${numAdults}`;\n}\n\n// Format each destination simply\nconst cheapFlights = items.map((item, index) => {\n  const dest = item.json;\n  const flight = dest.flight || {};\n  \n  const stops = flight.stops === 0 ? 'Direct' : `${flight.stops} stop${flight.stops > 1 ? 's' : ''}`;\n  const flightLink = buildFlightLink(departureId, flight.airport_code, dest.outbound_date, dest.return_date, adults);\n  const airlineLink = flight.airline_name ? buildAirlineLink(departureId, flight.airport_code, dest.outbound_date, dest.return_date, flight.airline_name, adults) : null;\n  \n  return {\n    rank: index + 1,\n    destination: dest.name,\n    country: dest.country,\n    price: flight.price,\n    price_display: `${currency} ${flight.price}`,\n    airline: flight.airline_name,\n    duration: flight.flight_duration,\n    stops: stops,\n    departure_date: dest.outbound_date,\n    return_date: dest.return_date,\n    hotel_per_night: dest.avg_cost_per_night ? `${currency} ${dest.avg_cost_per_night}` : null,\n    airport: flight.airport_code,\n    flight_link: flightLink,\n    airline_link: airlineLink\n  };\n});\n\nreturn [{ json: { cheap_flights: cheapFlights } }];"
      },
      "id": "format-simple",
      "name": "Format Simple Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Create a summary of cheap flights\nconst params = $('Set Default Parameters').first().json;\nconst currency = params.currency || 'USD';\nconst data = items[0].json;\nconst flights = data.cheap_flights || [];\n\n// Build summary\nconst summary = {\n  title: `Top ${flights.length} Cheapest Flights from ${params.departure_id}`,\n  filters: {\n    max_price: `${currency} ${params.max_price}`,\n    travel_class: params.travel_class,\n    stops: params.stops\n  },\n  results: flights.map(f => ({\n    rank: f.rank,\n    route: `${params.departure_id} -> ${f.destination} (${f.country})`,\n    price: f.price_display,\n    details: `${f.airline} | ${f.duration} | ${f.stops}`,\n    dates: `${f.departure_date} to ${f.return_date}`,\n    hotel: f.hotel_per_night ? `~${f.hotel_per_night}/night` : 'N/A',\n    flight_link: f.flight_link,\n    airline_link: f.airline_link\n  })),\n  cheapest: flights.length > 0 ? {\n    destination: flights[0].destination,\n    price: flights[0].price_display,\n    savings_vs_average: null,\n    flight_link: flights[0].flight_link,\n    airline_link: flights[0].airline_link\n  } : null\n};\n\n// Calculate average and savings\nif (flights.length > 1) {\n  const avgPrice = flights.reduce((sum, f) => sum + f.price, 0) / flights.length;\n  const savings = Math.round(avgPrice - flights[0].price);\n  summary.cheapest.savings_vs_average = `${currency} ${savings} below average`;\n}\n\nreturn [{ json: summary }];"
      },
      "id": "create-summary",
      "name": "Create Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error?.message || 'An error occurred', code: $json.error?.code || 500 } }}",
        "options": {
          "responseCode": "={{ $json.error?.code || 500 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Default Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Default Parameters": {
      "main": [
        [
          {
            "node": "SearchAPI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchAPI Request": {
      "main": [
        [
          {
            "node": "Extract Destinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Destinations": {
      "main": [
        [
          {
            "node": "Sort by Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Price": {
      "main": [
        [
          {
            "node": "Filter by Max Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Max Price": {
      "main": [
        [
          {
            "node": "Limit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Results": {
      "main": [
        [
          {
            "node": "Format Simple Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Simple Output": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-09T00:00:00.000Z",
  "versionId": "2"
}
